.burger-salad {
  background-image: url(../../assets/images/burger-salad.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  max-width: 450px;
  height: 200px;
  margin: 0 auto;
  position: absolute;
  bottom: 75px;
  left: 0;
  right: 0;
  z-index: 4;
}
