.burger-meat {
  background-image: url(../../assets/images/burger-meat.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  max-width: 450px;
  height: 180px;
  margin: 0 auto;
  position: absolute;
  bottom: 45px;
  left: 0;
  right: 0;
  z-index: 2;
}
